.header {
width: 1100px;
height: 293px;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
} 

.header_menu-list {
 width: 391px;
 display: flex;
 flex-wrap: nowrap;
 white-space: nowrap;
 column-gap: 13px;
 list-style-position:inside;
 margin-left: 50px;
} 

.header_menu-item-first { 
  list-style-type: none;
}

.header_menu-item { 
  list-style-type: circle;
}

.header_menu-link { 
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0,1em;
}

.header_logo-image {
  width: 148px;
  margin-left:36px;
} 

.header_contact {
width: 98px;
margin-left: 184px;
font-style: normal;
} 

.header_contact-tel {
text-decoration: none;
border-bottom: 1px solid black;
padding-bottom: 0,1em;
white-space: nowrap;
} 

.header_contact-pochta {
text-decoration: none;
border-bottom: 1px solid black;
padding-bottom: 0,1em;
white-space: nowrap;
} 

.header_contact-adr {
white-space: nowrap;
} 

.header_contact-dom {
white-space: nowrap;
} 

.cover {
width: 1100px;
height: 757px;
position: relative;
background: url(/images/cover.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.cover {
display: flex;
}

.cover:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.cover_title { 
color: #fff;
text-transform: uppercase;
font-size: 100px;
z-index: 1;
} 

.accent span {
 display: block;
} 

.aligned-text {
text-align: left; 
position: absolute;
top: 165px;
left: 50px;
display: block;
line-height: 1 1 1;
letter-spacing: 30px;
} 

.aligned-text_center {
text-align: center; 
position: absolute;
top: 300px;
left: 380px;
} 

.aligned-text_right {
text-align: right; 
position: absolute;
top: 435px;
left: 663px;
} 

.description {
width: 1000px;
height: 51px;
position: absolute;
margin: 656px 50px 50px 50px;
display: flex;
column-gap: 107px;
}

.description_p {
width: 637px;
height: 28px;
padding: 11px 12px;
word-spacing: 40px;
color: #fff;
text-transform: uppercase;
}

.description_button {
width: 256px;
height: 51px;
background-color: transparent;
color: #fff;
border: 1px solid rgba(255, 255, 255, 1);
text-transform: uppercase;
}
