.header {
height: 293px;
display: flex;
flex-direction: row; 
justify-content: space-between;
gap: 194px;
} 

.header_menu-list {
 display: flex;
 flex-wrap: nowrap;
 white-space: nowrap;
 column-gap: 13px;
} 

.header_menu-item-first { 
  list-style-type: none;
}

.header_menu-item { 
  list-style-type: circle;
}

.header_logo-image {
height: 105px;
width: 148px;
margin-top: 92px;

} 




.address {
list-style-type: none; 
} 

.content-section {
box-sizing: border-box;
}

.content-section_theme_light {
color: #000;
background-color: #fff ;
}


.aligned-text {
display: block;
line-height: 1 1 1;
letter-spacing: 30px;
} 

.aligned-text_left {
text-align: left;
} 

.aligned-text_center {
text-align: center;
} 

.aligned-text_right {
text-align: right;
} 


.loty {
padding: ;
} 

.auction {
padding: ;
} 

